app/jade/partials/bottom.jade
.clearfix
footer
  .container
    .row
      .container-fluid
        .row
          // LEFT
          .col-md-9
            .inner.clearfix
              .row
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | ขาย
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | เช่า
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | ขายดาวน์
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | จำนอง
                  ul.list-unstyled
                    li
                      a(href="#",title="") บ้านเดี่ยว
                    li
                      a(href="#",title="") ทาวน์เฮ้าส์
                    li
                      a(href="#",title="") ทาวน์โฮม
                    li
                      a(href="#",title="") บ้านแฝด
                    li
                      a(href="#",title="") อาคารพาณิชย์
                    li
                      a(href="#",title="") คอนโดมิเนี่ยม
                    li
                      a(href="#",title="") อพาร์ทเม้นท์
                    li
                      a(href="#",title="") ที่ดิน
                // END COL
              // END ROW
            // END INNER
            .inner.clearfix
              .row
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | อบรมนายหน้า
                  ul.list-unstyled
                    li
                      a(href="#",title="") คอร์สอบรม
                    li
                      a(href="#",title="") วิธีการสมัคร
                    li
                      a(href="#",title="") วิธีการชำระเงิน
                    li
                      a(href="#",title="") ประมวลภาพอบรม
                    li
                      a(href="#",title="") ปฏิทินการอบรม
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | สถาบันการเงิน
                  ul.list-unstyled
                    li
                      a(href="#",title="") ธนาคากสิกรไทย
                    li
                      a(href="#",title="") ธนาคากรุงไทย
                    li
                      a(href="#",title="") ธนาคาออมสิน
                    li
                      a(href="#",title="") ธนาคาธนชาติ
                    li
                      a(href="#",title="") ธนาคาไทยพาณิชย์
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | ทีมนักขาย
                  ul.list-unstyled
                    li
                      a(href="#",title="") สำนักงานใหญ่
                    li
                      a(href="#",title="") ภาคกลาง
                    li
                      a(href="#",title="") ภาคเหนือ
                    li
                      a(href="#",title="") ภาคตะวันตก
                    li
                      a(href="#",title="") ภาคตะวันออก
                    li
                      a(href="#",title="") ภาคตะวันออกเฉียงเหนือ
                    li
                      a(href="#",title="") ภาคใต้
                // END COL
                .col-xs-6.col-sm-4.col-md-4.col-lg-3
                  h5
                    | การตลาด
                  ul.list-unstyled
                    li
                      a(href="#",title="") หลักการตลาด
                    li
                      a(href="#",title="") เอโอเอล เป้าหมาย
                // END COL
              // END ROW
            // END INNER

          // RIGHT
          .col-md-3
            .inner.clearfix
              .wrapper_enewsletter
                h5
                  | รับข่าวสารและสิทธิพิเศษจากเรา
                form.form-inline
                  .input-group
                    input.form-control(type='text', placeholder='กรอกอีเมลของท่าน...')
                    span.input-group-btn
                      button.btn.btn-main(type='button') ตกลง
                    // /input-group

              .wrapper_contactus
                h5
                  | ติดต่อ บริษัท AOL PROPERTY จำกัด
                .contact-info
                  .media
                    .media-left
                      span.glyphicon.glyphicon-home
                    .media-body
                      | No 395, Welington Road, Newyork, USA
                  .media
                    .media-left
                      span.glyphicon.glyphicon-earphone
                    .media-body
                      | (123) 456 0789
                  .media
                    .media-left
                      span.glyphicon.glyphicon-print
                    .media-body
                      | (123) 456 0789
                  .media
                    .media-left
                      span.glyphicon.glyphicon-envelope
                    .media-body
                      | sales@yourcompany.com
              ul.social.list-inline
                li
                  a(href='#', title='fb')
                    i.fa.fa-facebook
                li
                  a(href='#', title='Tw')
                    i.fa.fa-twitter
                li
                  a(href='#', title='G+')
                    i.fa.fa-google-plus
                li
                  a(href='#', title='In')
                    i.fa.fa-linkedin
                li
                  a(href='#', title='p')
                    i.fa.fa-youtube-play
.copyright
  .container
    .row
      .container-fluid
        p
          | สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.

template/html/partials/bottom.html

<div class="clearfix"></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <!-- LEFT-->
          <div class="col-md-9">
            <div class="inner clearfix">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>ขาย</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">บ้านเดี่ยว</a></li>
                    <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                    <li><a href="#" title="">ทาวน์โฮม</a></li>
                    <li><a href="#" title="">บ้านแฝด</a></li>
                    <li><a href="#" title="">อาคารพาณิชย์</a></li>
                    <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                    <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                    <li><a href="#" title="">ที่ดิน</a></li>
                  </ul>
                </div>
                <!-- END COL-->
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>เช่า</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">บ้านเดี่ยว</a></li>
                    <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                    <li><a href="#" title="">ทาวน์โฮม</a></li>
                    <li><a href="#" title="">บ้านแฝด</a></li>
                    <li><a href="#" title="">อาคารพาณิชย์</a></li>
                    <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                    <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                    <li><a href="#" title="">ที่ดิน</a></li>
                  </ul>
                </div>
                <!-- END COL-->
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>ขายดาวน์</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">บ้านเดี่ยว</a></li>
                    <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                    <li><a href="#" title="">ทาวน์โฮม</a></li>
                    <li><a href="#" title="">บ้านแฝด</a></li>
                    <li><a href="#" title="">อาคารพาณิชย์</a></li>
                    <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                    <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                    <li><a href="#" title="">ที่ดิน</a></li>
                  </ul>
                </div>
                <!-- END COL-->
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>จำนอง</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">บ้านเดี่ยว</a></li>
                    <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                    <li><a href="#" title="">ทาวน์โฮม</a></li>
                    <li><a href="#" title="">บ้านแฝด</a></li>
                    <li><a href="#" title="">อาคารพาณิชย์</a></li>
                    <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                    <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                    <li><a href="#" title="">ที่ดิน</a></li>
                  </ul>
                </div>
                <!-- END COL-->
              </div>
              <!-- END ROW-->
            </div>
            <!-- END INNER-->
            <div class="inner clearfix">
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>อบรมนายหน้า</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">คอร์สอบรม</a></li>
                    <li><a href="#" title="">วิธีการสมัคร</a></li>
                    <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                    <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                    <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                  </ul>
                </div>
                <!-- END COL-->
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>สถาบันการเงิน</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                    <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                    <li><a href="#" title="">ธนาคาออมสิน</a></li>
                    <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                    <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                  </ul>
                </div>
                <!-- END COL-->
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>ทีมนักขาย</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">สำนักงานใหญ่</a></li>
                    <li><a href="#" title="">ภาคกลาง</a></li>
                    <li><a href="#" title="">ภาคเหนือ</a></li>
                    <li><a href="#" title="">ภาคตะวันตก</a></li>
                    <li><a href="#" title="">ภาคตะวันออก</a></li>
                    <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                    <li><a href="#" title="">ภาคใต้</a></li>
                  </ul>
                </div>
                <!-- END COL-->
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                  <h5>การตลาด</h5>
                  <ul class="list-unstyled">
                    <li><a href="#" title="">หลักการตลาด</a></li>
                    <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                  </ul>
                </div>
                <!-- END COL-->
              </div>
              <!-- END ROW-->
            </div>
            <!-- END INNER-->
          </div>
          <!-- RIGHT-->
          <div class="col-md-3">
            <div class="inner clearfix">
              <div class="wrapper_enewsletter">
                <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                <form class="form-inline">
                  <div class="input-group">
                    <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"/><span class="input-group-btn">
                      <button type="button" class="btn btn-main">ตกลง</button></span>
                    <!-- /input-group-->
                  </div>
                </form>
              </div>
              <div class="wrapper_contactus">
                <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                <div class="contact-info">
                  <div class="media">
                    <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                    <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                  </div>
                  <div class="media">
                    <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                    <div class="media-body">(123) 456 0789</div>
                  </div>
                  <div class="media">
                    <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                    <div class="media-body">(123) 456 0789</div>
                  </div>
                  <div class="media">
                    <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                    <div class="media-body">sales@yourcompany.com</div>
                  </div>
                </div>
              </div>
              <ul class="social list-inline">
                <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="container-fluid">
        <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
      </div>
    </div>
  </div>
</div>
