app/jade/partials/widget.jade
.col-xs-12.col-sm-4.col-md-3.wrapper_widget
	.wrapper_related
		h4
			| ข่าว-บทความใกล้เคียง
		ul.list-unstyled
			for item, i in ['อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?', 'อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?', 'อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?','อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?', 'อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?',]
				li
					a(href="news-detail.html", title="")
						= item
	// END RELATED
	.clearfix
	.wrapper_highlight
		h4 โครงการแนะนำ
		.news
			.row
				.col-xs-12.wrapper
					p
						a(href="news-detail.html", title="")
							img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
					h4
						a(href="news-detail.html", title="")
							| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					p
						span
							| - 10 มกราคม 2560
					p.highlight-text
						| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ
						a.readmore(href="#", title="") &nbsp; รายละเอียด...

		.news
			.row
				.col-xs-12.wrapper
					p
						a(href="news-detail.html", title="")
							img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
					h4
						a(href="news-detail.html", title="")
							| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
					p
						span
							| - 10 มกราคม 2560
					p.highlight-text
						| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ
						a.readmore(href="#", title="") &nbsp; รายละเอียด...

template/html/partials/widget.html

<div class="col-xs-12 col-sm-4 col-md-3 wrapper_widget">
  <div class="wrapper_related">
    <h4>ข่าว-บทความใกล้เคียง</h4>
    <ul class="list-unstyled">
      <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
      <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
      <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
      <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
      <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
    </ul>
  </div>
  <!-- END RELATED-->
  <div class="clearfix"></div>
  <div class="wrapper_highlight">
    <h4>โครงการแนะนำ</h4>
    <div class="news">
      <div class="row">
        <div class="col-xs-12 wrapper">
          <p><a href="news-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"/></a></p>
          <h4><a href="news-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
          <p><span>- 10 มกราคม 2560</span></p>
          <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ<a href="#" title="" class="readmore">&nbsp; รายละเอียด...</a></p>
        </div>
      </div>
    </div>
    <div class="news">
      <div class="row">
        <div class="col-xs-12 wrapper">
          <p><a href="news-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"/></a></p>
          <h4><a href="news-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
          <p><span>- 10 มกราคม 2560</span></p>
          <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ<a href="#" title="" class="readmore">&nbsp; รายละเอียด...</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
