app/jade/board-detail.jade
extends template-cms-inside.jade
block content
  .container.wrapper_breadcrumbs
    .row
      .container-fluid
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href='index.html')
            i.glyphicon.glyphicon-home
          a.btn.btn-default(href='board.html') ข่าวสาร
          a.btn.btn-default(href='#') ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
  // END BREADCRUMBS

  .clearfix
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ
        .wrapper_inner
          ul.list-inline
            li
              p.inline
                span ประกาศจาก : &nbsp;
                strong นายวิทวัต กิตติวรบุตร
            li
              p
                a.btn-a(href="board-detail.html", title="") ติดต่อผู้ประกาศ
            li
              p
                span.btn-a 2 คำตอบ | &nbsp;
                span.btn-a หมวดหมู่ : เช่าอสังหาริมทรัพย์


          form.form-horizontal(name="form_comment", action="", method="post", encrytion="", autocomplete="false")
            hr
            .form-group
              .col-md-12
                textarea.form-control(name="comment", maxlength="255", rows="4", id="comment")

            .form-group
              .col-md-12
                input(type="hidden", name="action", value="action_comment")
                button.btn.btn-lg.btn-main(type="button") บันทึก
        // END Wrapper

template/website/views/board-detail.html
<div class="well well_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="" class="form wrapper_search">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input id="keyword" type="text" name="" placeholder="ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง.." class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ประเภทการขาย</option>
                      <option value="">ขาย</option>
                      <option value="">เช่า</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ประเภทอสังหาริมทรัพย์</option>
                      <option value="">คอนโดมิเนี่ยม</option>
                      <option value="">ที่ดิน</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ราคาเริ่มต้น</option>
                      <option value="499999">ต่ำกว่า 500,000</option>
                      <option value="500000">500,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="1500000">1,500,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="2500000">2,500,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="3500000">3,500,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="4500000">4,500,000</option>
                      <option value="5000000">5,000,000</option>
                      <option value="5500000">5,500,000</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ราคาสูงสุด</option>
                      <option value="6000000">6,000,000</option>
                      <option value="6500000">6,500,000</option>
                      <option value="7000000">7,000,000</option>
                      <option value="7500000">7,500,000</option>
                      <option value="8000000">8,000,000</option>
                      <option value="8500000">8,500,000</option>
                      <option value="9000000">9,000,000</option>
                      <option value="9500000">9,500,000</option>
                      <option value="10000000">10,000,000</option>
                      <option value="10000001">ตั้งแต่ 10,000,000 ขึ้นไป</option>
                    </select>
                            </div>
                        </div>
                    </div>
                    <!--END ROW-->
                    <div class="clearfix"></div>
                    <div class="row row-bottom">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">จังหวัด</option>
                      <option value="">กรุงเทพมหานคร</option>
                      <option value="">กระบี่</option>
                      <option value="">ขอนแก่น</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">อำเภอ</option>
                      <option value="">เขตพระนคร</option>
                      <option value="">เขตดุสิต</option>
                      <option value="">เขตหนองจอก</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ประเภทห้องนอน</option>
                      <option value="">ห้อง Studio</option>
                      <option value="">1 ห้องนอน</option>
                      <option value="">2 ห้องนอน</option>
                      <option value="">3 ห้องนอน</option>
                      <option value="">ห้อง Penthouse</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="" id="" class="form-control">
                      <option value="">ขนาดห้องนอน</option>
                      <option value="1">ต่ำกว่า 25 ตร.ม.</option>
                      <option value="2">26 - 50 ตร.ม.</option>
                      <option value="3">51 - 75 ตร.ม.</option>
                      <option value="4">76 - 100 ตร.ม.</option>
                      <option value="5">101 - 125 คร.ม.</option>
                      <option value="6">126 - 150 ตร.ม.</option>
                      <option value="7">151 - 175 ตร.ม.</option>
                      <option value="8">176 - 200 ตร.ม.</option>
                      <option value="9">201 ตร.ม.ขึ้นไป</option>
                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="hidden" name="action">
                                <button type="submit" name="search" class="btn btn-main btn-block">ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container wrapper_breadcrumbs">
    <div class="row">
        <div class="container-fluid">
            <div class="btn-group btn-breadcrumb"><a href="index.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a><a href="board" class="btn btn-default">ข่าวสาร</a><a href="#" class="btn btn-default">ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ</a></div>
        </div>
    </div>
</div>
<!-- END BREADCRUMBS-->
<div class="clearfix"></div>
<div class="container wrapper_login">
    <div class="row">
        <div class="container-fluid">
            <h2>ต้องการปล่อยทรัพย์ย่านเดอะมอลล์ท่าพระด่วน! เฟอร์พร้อมอยู่ มี 1 นอน 2 ห้องน้ำ</h2>
            <div class="wrapper_inner">
                <ul class="list-inline">
                    <li>
                        <p class="inline"><span>ประกาศจาก : &nbsp;</span><strong>นายวิทวัต กิตติวรบุตร</strong></p>
                    </li>
                    <li>
                        <p><a href="board-detail.html" title="" class="btn-a">ติดต่อผู้ประกาศ</a></p>
                    </li>
                    <li>
                        <p><span class="btn-a">2 คำตอบ | &nbsp;</span><span class="btn-a">หมวดหมู่ : เช่าอสังหาริมทรัพย์</span></p>
                    </li>
                </ul>
                <form name="form_comment" action="" method="post" encrytion="" autocomplete="false" class="form-horizontal">
                    <hr>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea name="comment" maxlength="255" rows="4" id="comment" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="hidden" name="action" value="action_comment">
                            <button type="button" class="btn btn-lg btn-main">บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END Wrapper-->
        </div>
    </div>
</div>
