app/jade/list-condominium.jade
extends template-member.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | รายการคอนโดมิเนี่ยม
        .wrapper_inner
          .row
            // SIDEBAR
            include partials/sidebar.jade
            // END SIDEBAR

            // CONTENT
            .col-xs-12.col-sm-8.col-md-9
              section.content
                .panel.panel-default
                  .panel-body
                    .pull-right
                      .btn-group
                        button.btn.btn-success.btn-filter(type='button', data-target='pagado') Pagado
                        button.btn.btn-warning.btn-filter(type='button', data-target='pendiente') Pendiente
                        button.btn.btn-danger.btn-filter(type='button', data-target='cancelado') Cancelado
                        button.btn.btn-default.btn-filter(type='button', data-target='all') Todos
                    .table-container
                      table.table.table-filter
                        tbody
                          tr(data-status='pagado')
                            td
                              .ckbox
                                input#checkbox1(type='checkbox')
                                label(for='checkbox1')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pagado (Pagado)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr(data-status='pendiente')
                            td
                              .ckbox
                                input#checkbox3(type='checkbox')
                                label(for='checkbox3')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pendiente (Pendiente)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr(data-status='cancelado')
                            td
                              .ckbox
                                input#checkbox2(type='checkbox')
                                label(for='checkbox2')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.cancelado (Cancelado)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr.selected(data-status='pagado')
                            td
                              .ckbox
                                input#checkbox4(type='checkbox', checked='')
                                label(for='checkbox4')
                            td
                              a.star.star-checked(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pagado (Pagado)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...
                          tr(data-status='pendiente')
                            td
                              .ckbox
                                input#checkbox5(type='checkbox')
                                label(for='checkbox5')
                            td
                              a.star(href='javascript:;')
                                i.glyphicon.glyphicon-star
                            td
                              .media
                                a.pull-left(href='#')
                                  img.media-photo(src='https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg')
                                .media-body
                                  span.media-meta.pull-right Febrero 13, 2016
                                  h4.title
                                    | Lorem Impsum
                                    span.pull-right.pendiente (Pendiente)
                                  p.summary Ut enim ad minim veniam, quis nostrud exercitation...

template/html/list-condominium.html
<!DOCTYPE html>
<html lang="en" dir="ltr"><!DOCTYPE html>
  <html lang="th">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AOL PROPERTY</title>
      <link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../template/assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../template/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../template/assets/css/styles.css">
    </head>
  </html>
  <body>
    <header>
      <div class="container">
        <nav role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="property.html">ขาย</a></li>
              <li><a href="property.html">เช่า</a></li>
              <li><a href="property.html">ขายดาวน์</a></li>
              <li><a href="project.html">โครงการใหม่</a></li>
              <li><a href="news.html">ข่าว</a></li>
              <li><a href="board.html">บอร์ดประกาศ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">เข้าสู่ระบบ</a></li>
              <li><a href="register.html">สมัครสมาชิก</a></li>
              <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
              <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">EN</a></li>
                  <li><a href="#">TH</a></li>
                </ul>
              </li>
            </ul>
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
                  <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="well well_header"></div>
    <div class="container wrapper_login">
      <div class="row">
        <div class="container-fluid">
          <h2>รายการคอนโดมิเนี่ยม</h2>
          <div class="wrapper_inner">
            <div class="row">
              <!-- SIDEBAR-->
              <div class="col-xs-12 col-sm-4 col-md-3">
                <div id="accordion" class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-address-card-o"></i>&nbsp;โปรไฟล์</a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="profile.html"><i class="fa fa-vcard-o"></i>&nbsp;ข้อมูลสมาชิก</a></td>
                          </tr>
                          <tr>
                            <td><a href="forgotpassword.html"><i class="fa fa-key"></i>&nbsp;แก้ไขรหัสผ่าน</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-building-o"></i>&nbsp;รายการทรัพย์</a></h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-land.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศทรัพย์</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-hotel"></i>&nbsp;รายการคอนโดมิเนี่ยม</a></h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-condominium.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศคอนโดมิเนี่ยม</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-heart-o"></i>&nbsp;รายการที่สนใจ</a></h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-land.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศทรัพย์</a></td>
                          </tr>
                          <tr>
                            <td><a href="list-condominium.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศคอนโดมิเนี่ยม</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-graduation-cap"></i>&nbsp;อีเมล์ถามกูรู</a></h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-guru.html"><i class="fa fa-circle-o"></i>&nbsp;ประวัติการตั้งคำถาม</a></td>
                          </tr>
                          <tr>
                            <td><a href="list-guru.html"><i class="fa fa-circle-o"></i>&nbsp;ประวัติที่เก็บไว้</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END SIDEBAR-->
              <!-- CONTENT-->
              <div class="col-xs-12 col-sm-8 col-md-9">
                <section class="content">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="pull-right">
                        <div class="btn-group">
                          <button type="button" data-target="pagado" class="btn btn-success btn-filter">Pagado</button>
                          <button type="button" data-target="pendiente" class="btn btn-warning btn-filter">Pendiente</button>
                          <button type="button" data-target="cancelado" class="btn btn-danger btn-filter">Cancelado</button>
                          <button type="button" data-target="all" class="btn btn-default btn-filter">Todos</button>
                        </div>
                      </div>
                      <div class="table-container">
                        <table class="table table-filter">
                          <tbody>
                            <tr data-status="pagado">
                              <td>
                                <div class="ckbox">
                                  <input id="checkbox1" type="checkbox">
                                  <label for="checkbox1"></label>
                                </div>
                              </td>
                              <td><a href="javascript:;" class="star"><i class="glyphicon glyphicon-star"></i></a></td>
                              <td>
                                <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo"></a>
                                  <div class="media-body"><span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">Lorem Impsum<span class="pull-right pagado">(Pagado)</span></h4>
                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-status="pendiente">
                              <td>
                                <div class="ckbox">
                                  <input id="checkbox3" type="checkbox">
                                  <label for="checkbox3"></label>
                                </div>
                              </td>
                              <td><a href="javascript:;" class="star"><i class="glyphicon glyphicon-star"></i></a></td>
                              <td>
                                <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo"></a>
                                  <div class="media-body"><span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">Lorem Impsum<span class="pull-right pendiente">(Pendiente)</span></h4>
                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-status="cancelado">
                              <td>
                                <div class="ckbox">
                                  <input id="checkbox2" type="checkbox">
                                  <label for="checkbox2"></label>
                                </div>
                              </td>
                              <td><a href="javascript:;" class="star"><i class="glyphicon glyphicon-star"></i></a></td>
                              <td>
                                <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo"></a>
                                  <div class="media-body"><span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">Lorem Impsum<span class="pull-right cancelado">(Cancelado)</span></h4>
                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-status="pagado" class="selected">
                              <td>
                                <div class="ckbox">
                                  <input id="checkbox4" type="checkbox" checked="">
                                  <label for="checkbox4"></label>
                                </div>
                              </td>
                              <td><a href="javascript:;" class="star star-checked"><i class="glyphicon glyphicon-star"></i></a></td>
                              <td>
                                <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo"></a>
                                  <div class="media-body"><span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">Lorem Impsum<span class="pull-right pagado">(Pagado)</span></h4>
                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr data-status="pendiente">
                              <td>
                                <div class="ckbox">
                                  <input id="checkbox5" type="checkbox">
                                  <label for="checkbox5"></label>
                                </div>
                              </td>
                              <td><a href="javascript:;" class="star"><i class="glyphicon glyphicon-star"></i></a></td>
                              <td>
                                <div class="media"><a href="#" class="pull-left"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo"></a>
                                  <div class="media-body"><span class="media-meta pull-right">Febrero 13, 2016</span>
                                    <h4 class="title">Lorem Impsum<span class="pull-right pendiente">(Pendiente)</span></h4>
                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <!-- LEFT-->
              <div class="col-md-9">
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>เช่า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขายดาวน์</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>จำนอง</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>อบรมนายหน้า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">คอร์สอบรม</a></li>
                        <li><a href="#" title="">วิธีการสมัคร</a></li>
                        <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                        <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                        <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>สถาบันการเงิน</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                        <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                        <li><a href="#" title="">ธนาคาออมสิน</a></li>
                        <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                        <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ทีมนักขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">สำนักงานใหญ่</a></li>
                        <li><a href="#" title="">ภาคกลาง</a></li>
                        <li><a href="#" title="">ภาคเหนือ</a></li>
                        <li><a href="#" title="">ภาคตะวันตก</a></li>
                        <li><a href="#" title="">ภาคตะวันออก</a></li>
                        <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                        <li><a href="#" title="">ภาคใต้</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>การตลาด</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">หลักการตลาด</a></li>
                        <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
              </div>
              <!-- RIGHT-->
              <div class="col-md-3">
                <div class="inner clearfix">
                  <div class="wrapper_enewsletter">
                    <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                    <form class="form-inline">
                      <div class="input-group">
                        <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"><span class="input-group-btn">
                          <button type="button" class="btn btn-main">ตกลง</button></span>
                        <!-- /input-group-->
                      </div>
                    </form>
                  </div>
                  <div class="wrapper_contactus">
                    <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                    <div class="contact-info">
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                        <div class="media-body">sales@yourcompany.com</div>
                      </div>
                    </div>
                  </div>
                  <ul class="social list-inline">
                    <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../template/assets/js/jquery.min.js"></script>
    <script src="../../template/assets/js/bootstrap.min.js"></script>
    <script src="../../template/assets/js/megamenu.js"></script>
    <script src="../../template/assets/js/search.js"></script>
    <script src="../../template/assets/js/slippry.min.js"></script>
    <script src="../../template/assets/js/slick.min.js"></script>
    <script src="../../template/assets/js/validator.min.js"></script>
    <script src="../../template/assets/js/application.js"></script>
  </body>
</html>
