template/html/login.html
<!DOCTYPE html>
<html lang="en" dir="ltr"><!DOCTYPE html>
  <html lang="th">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AOL PROPERTY</title>
      <link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../template/assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../template/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../template/assets/css/styles.css">
    </head>
  </html>
  <body>
    <header>
      <div class="container">
        <nav role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="property.html">ขาย</a></li>
              <li><a href="property.html">เช่า</a></li>
              <li><a href="property.html">ขายดาวน์</a></li>
              <li><a href="project.html">โครงการใหม่</a></li>
              <li><a href="news.html">ข่าว</a></li>
              <li><a href="board.html">บอร์ดประกาศ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">เข้าสู่ระบบ</a></li>
              <li><a href="register.html">สมัครสมาชิก</a></li>
              <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
              <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">EN</a></li>
                  <li><a href="#">TH</a></li>
                </ul>
              </li>
            </ul>
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
                  <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="well well_header"></div>
    <div class="container wrapper_login">
      <div class="row">
        <div class="container-fluid">
          <h2>เข้าสู่ระบบ&nbsp;<span>AOL&nbsp;</span>PROPERTY</h2>
          <div class="wrapper_inner">
            <form name="form_login" id="form_login" action="" method="post" encrytion="" autocomplete="false" data-toggle="validator" role="form" class="form-horizontal">
              <div class="form-group">
                <div class="col-md-offset-4 col-md-4"><a href="#" title="ลืมรหัสผ่าน" class="btn btn-facebook"><i class="fa fa-facebook">&nbsp;&nbsp;</i>LOGIN WITH FACEBOOK</a></div>
              </div>
              <hr>
              <div class="form-group">
                <label for="username" class="col-md-4 control-label">EMAIL :</label>
                <div class="col-md-4">
                  <input name="email" type="email" id="email" placeholder="AOLPROPERTY@AOLPROPERTY.COM" data-error="กรุณากรอกอีเมล์ หรือชื่อผู้ใช้งานให้ถูกต้อง" required class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="username" class="col-md-4 control-label">PASSWORD :</label>
                <div class="col-md-4">
                  <input name="password" type="password" id="password" placeholder="********" data-error="กรุณารหัสผ่านให้ถูกต้อง" required class="form-control"><span aria-hidden="true" class="glyphicon form-control-feedback"></span>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-4 col-md-4"><a href="forgotpassword.html" title="ลืมรหัสผ่าน" class="btn-links">ลืมรหัสผ่าน</a></div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                  <input type="hidden" name="action" value="action_login">
                  <button type="submit" class="btn btn-lg btn-main">เข้าสู่ระบบ</button>
                </div>
              </div>
            </form>
          </div>
          <!-- END Wrapper-->
          <div class="col-md-offset-4 col-md-6">
            <p>หากคุณยัังไม่เป็นสมาชิกกับเรา โปรดทำการ &nbsp;<a href="register.html" title="" class="btn-links">สมัครสมาชิกใหม่</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <!-- LEFT-->
              <div class="col-md-9">
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>เช่า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขายดาวน์</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>จำนอง</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>อบรมนายหน้า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">คอร์สอบรม</a></li>
                        <li><a href="#" title="">วิธีการสมัคร</a></li>
                        <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                        <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                        <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>สถาบันการเงิน</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                        <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                        <li><a href="#" title="">ธนาคาออมสิน</a></li>
                        <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                        <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ทีมนักขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">สำนักงานใหญ่</a></li>
                        <li><a href="#" title="">ภาคกลาง</a></li>
                        <li><a href="#" title="">ภาคเหนือ</a></li>
                        <li><a href="#" title="">ภาคตะวันตก</a></li>
                        <li><a href="#" title="">ภาคตะวันออก</a></li>
                        <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                        <li><a href="#" title="">ภาคใต้</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>การตลาด</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">หลักการตลาด</a></li>
                        <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
              </div>
              <!-- RIGHT-->
              <div class="col-md-3">
                <div class="inner clearfix">
                  <div class="wrapper_enewsletter">
                    <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                    <form class="form-inline">
                      <div class="input-group">
                        <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"><span class="input-group-btn">
                          <button type="button" class="btn btn-main">ตกลง</button></span>
                        <!-- /input-group-->
                      </div>
                    </form>
                  </div>
                  <div class="wrapper_contactus">
                    <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                    <div class="contact-info">
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                        <div class="media-body">sales@yourcompany.com</div>
                      </div>
                    </div>
                  </div>
                  <ul class="social list-inline">
                    <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../template/assets/js/jquery.min.js"></script>
    <script src="../../template/assets/js/bootstrap.min.js"></script>
    <script src="../../template/assets/js/megamenu.js"></script>
    <script src="../../template/assets/js/search.js"></script>
    <script src="../../template/assets/js/slippry.min.js"></script>
    <script src="../../template/assets/js/slick.min.js"></script>
    <script src="../../template/assets/js/validator.min.js"></script>
    <script src="../../template/assets/js/application.js"></script>
  </body>
</html>

app/jade/login.jade
extends template-child.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | เข้าสู่ระบบ&nbsp;
          span AOL&nbsp;
          | PROPERTY
        .wrapper_inner
          form.form-horizontal(name="form_login", id="form_login", action="", method="post", encrytion="", autocomplete="false", data-toggle="validator", role="form")
            .form-group
              .col-md-offset-4.col-md-4
                a.btn.btn-facebook(href="#", title="ลืมรหัสผ่าน")
                  i.fa.fa-facebook &nbsp;&nbsp;
                  | LOGIN WITH FACEBOOK
            hr
            .form-group
              label.col-md-4.control-label(for="username") EMAIL :
              .col-md-4
                input.form-control(name="email", type="email", id="email", placeholder="AOLPROPERTY@AOLPROPERTY.COM", data-error="กรุณากรอกอีเมล์ หรือชื่อผู้ใช้งานให้ถูกต้อง" required)
                span.glyphicon.form-control-feedback(aria-hidden="true")
                .help-block.with-errors
            .form-group
              label.col-md-4.control-label(for="username") PASSWORD :
              .col-md-4
                input.form-control(name="password", type="password", id="password", placeholder="********", data-error="กรุณารหัสผ่านให้ถูกต้อง" required)
                span.glyphicon.form-control-feedback(aria-hidden="true")
                .help-block.with-errors
            .form-group
              .col-md-offset-4.col-md-4
                a.btn-links(href="forgotpassword.html", title="ลืมรหัสผ่าน") ลืมรหัสผ่าน
            .form-group
              .col-md-offset-4.col-md-4
                input(type="hidden", name="action", value="action_login")
                button.btn.btn-lg.btn-main(type="submit") เข้าสู่ระบบ
        // END Wrapper
        .col-md-offset-4.col-md-6
          p
            | หากคุณยัังไม่เป็นสมาชิกกับเรา โปรดทำการ &nbsp;
            a.btn-links(href="register.html", title="") สมัครสมาชิกใหม่
