template/html/news-detail.html
<!DOCTYPE html>
<html lang="en" dir="ltr"><!DOCTYPE html>
  <html lang="th">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AOL PROPERTY</title>
      <link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../template/assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../template/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../template/assets/css/styles.css">
    </head>
  </html>
  <body>
    <header>
      <div class="container">
        <nav role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="property.html">ขาย</a></li>
              <li><a href="property.html">เช่า</a></li>
              <li><a href="property.html">ขายดาวน์</a></li>
              <li><a href="project.html">โครงการใหม่</a></li>
              <li><a href="news.html">ข่าว</a></li>
              <li><a href="board.html">บอร์ดประกาศ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">เข้าสู่ระบบ</a></li>
              <li><a href="register.html">สมัครสมาชิก</a></li>
              <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
              <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">EN</a></li>
                  <li><a href="#">TH</a></li>
                </ul>
              </li>
            </ul>
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
                  <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="well well_header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form method="post" action="" class="form wrapper_search">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input id="keyword" type="text" name="" placeholder="ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง.." class="form-control">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทการขาย</option>
                      <option value="">ขาย</option>
                      <option value="">เช่า</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทอสังหาริมทรัพย์</option>
                      <option value="">คอนโดมิเนี่ยม</option>
                      <option value="">ที่ดิน</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ราคาเริ่มต้น</option>
                      <option value="499999">ต่ำกว่า 500,000</option>
                      <option value="500000">500,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="1500000">1,500,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="2500000">2,500,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="3500000">3,500,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="4500000">4,500,000</option>
                      <option value="5000000">5,000,000</option>
                      <option value="5500000">5,500,000</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ราคาสูงสุด</option>
                      <option value="6000000">6,000,000</option>
                      <option value="6500000">6,500,000</option>
                      <option value="7000000">7,000,000</option>
                      <option value="7500000">7,500,000</option>
                      <option value="8000000">8,000,000</option>
                      <option value="8500000">8,500,000</option>
                      <option value="9000000">9,000,000</option>
                      <option value="9500000">9,500,000</option>
                      <option value="10000000">10,000,000</option>
                      <option value="10000001">ตั้งแต่ 10,000,000 ขึ้นไป</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--END ROW-->
              <div class="clearfix"></div>
              <div class="row row-bottom">
                <div class="col-md-4">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">จังหวัด</option>
                      <option value="">กรุงเทพมหานคร</option>
                      <option value="">กระบี่</option>
                      <option value="">ขอนแก่น</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">อำเภอ</option>
                      <option value="">เขตพระนคร</option>
                      <option value="">เขตดุสิต</option>
                      <option value="">เขตหนองจอก</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทห้องนอน</option>
                      <option value="">ห้อง Studio</option>
                      <option value="">1 ห้องนอน</option>
                      <option value="">2 ห้องนอน</option>
                      <option value="">3 ห้องนอน</option>
                      <option value="">ห้อง Penthouse</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ขนาดห้องนอน</option>
                      <option value="1">ต่ำกว่า 25 ตร.ม.</option>
                      <option value="2">26 - 50 ตร.ม.</option>
                      <option value="3">51 - 75 ตร.ม.</option>
                      <option value="4">76 - 100 ตร.ม.</option>
                      <option value="5">101 - 125 คร.ม.</option>
                      <option value="6">126 - 150 ตร.ม.</option>
                      <option value="7">151 - 175 ตร.ม.</option>
                      <option value="8">176 - 200 ตร.ม.</option>
                      <option value="9">201 ตร.ม.ขึ้นไป</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="hidden" name="action">
                    <button type="submit" name="search" class="btn btn-main btn-block">ค้นหา</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container wrapper_breadcrumbs">
      <div class="row">
        <div class="container-fluid">
          <div class="btn-group btn-breadcrumb"><a href="index.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a><a href="news.html" class="btn btn-default">ข่าวสาร</a><a href="#" class="btn btn-default">เทรนด์ลงทุนอสังหาริมทรัพย์ 2559</a></div>
        </div>
      </div>
    </div>
    <!-- END BREADCRUMBS-->
    <div class="clearfix"></div>
    <div class="container wrapper_content">
      <div class="row">
        <div class="container-fluid">
          <h2>เทรนด์ลงทุนอสังหาริมทรัพย์ 2559</h2>
          <section class="row">
            <!-- CONTENT-->
            <div class="col-xs-12 col-sm-8 col-md-9">
              <p><img src="../template/assets/images/news.jpg" class="img-responsive"></p>
              <p>
                1. การลงทุนในอสังหาริมทรัพย์ อาจจะยังไม่คึกคัก
                โดยมองว่าผู้ประกอบการพัฒนาอสังหาริมทรัพย์ยังคงต้องให้น้ำหนักในการทำตลาดระบายที่อยู่อาศัยสร้างเสร็จรอขายในตลาด
                โดยแม้ว่าตลาดจะได้รับปัจจัยหนุนจากมาตรการกระตุ้นอสังหาริมทรัพย์เข้ามาช่วยเป็นเครื่องมือในการระบายที่อยู่อาศัยเหลือขายก็ตาม
              </p>
              <p>2.   การลงทุนในอสังหาริมทรัพย์ที่อยู่อาศัยในต่างจังหวัดน่าจะยังชะลอตัวอยู่ในช่วง 1-2 ปีนี้ เนื่องจากเศรษฐกิจท้องถิ่นยังได้รับผลกระทบจากกิจกรรมเศรษฐกิจในภาคเกษตรกรรม</p>
              <p>3. ขณะที่การลงทุนโครงการอสังหาริมทรัพย์ในเขตกรุงเทพฯและปริมณฑลนั้น แม้ว่าผู้ประกอบการจะยังให้น้ำหนักการลงทุนโครงการใหม่ในเขตกรุงเทพฯและปริมณฑลก็ตาม แต่คาดว่าการลงทุนน่าจะเต็มไปด้วยความท้าทายมากขึ้น</p>
              <p>4. นอกเหนือจากเรื่องเศรษฐกิจและกำลังซื้อแล้ว ต้องยอมรับว่าตลาดอสังหาริมทรัพย์ที่อยู่อาศัยในเขตกรุงเทพฯและปริมณฑลมีการแข่งขันรุนแรง โดยการแข่งขันไม่เพียงจากผู้ประกอบการที่อยู่ในธุรกิจอสังหาริมทรัพย์มานานแล้ว แต่ในช่วงที่ผ่านมา ผู้ประกอบการธุรกิจอื่นๆ ก็ขยายฐานธุรกิจเข้ามาในธุรกิจอสังหาริมทรัพย์มากขึ้น ซึ่งผู้ประกอบการเหล่านี้มีความแข็งแกร่งทั้งด้านแหล่งเงินทุนและที่สำคัญเป็นเจ้าของที่ดินในทำเลศักยภาพ</p>
              <p>5. ทิศทางตลาดที่อยู่อาศัยในกรุงเทพฯและปริมณฑลในปี 2559 นั้น ศูนย์วิจัยกสิกรไทย มองว่า ผู้ประกอบการยังให้น้ำหนักในกลุ่มโครงการคอนโดมิเนียม เนื่องจากปัจจัยในเรื่องของที่ดิน กฎหมายผังเมือง และโครงสร้างพื้นฐานด้านรถไฟฟ้า</p>
              <p>6. ส่วนของกลุ่มลูกค้าเป้าหมายนั้น มองว่า ผู้ประกอบการยังคงให้ความสำคัญกับการทำตลาดที่อยู่อาศัยระดับบน แม้จะมีความท้าทายขึ้นจากการแข่งขันที่สูง เนื่องจากในปี 2558 ที่ผ่านมา ผู้ประกอบการให้ความสำคัญในการเปิดตัวโครงการระดับบนออกสู่ตลาดพร้อมกันหลายโครงการ</p>
              <p>7. ปี 2558 ที่ผ่านมา การเปิดโครงการที่อยู่อาศัยในเขตกรุงเทพฯและปริมณฑลระดับราคา 10 ล้านบาทขึ้นไป เพิ่มขึ้นประมาณร้อยละ 85.0 เมื่อเทียบกับการเปิดตัวในปี 2557</p>
              <p>8. การทำตลาดคงไม่ง่ายเหมือนปีที่ผ่านมา จากกลไกตลาดที่ได้ผลักดันทำให้ราคาต่อหน่วยขยับตัวสูงขึ้นอย่างรวดเร็ว ขณะที่กลุ่มลูกค้าระดับบนในประเทศมีฐานตลาดที่จำกัด ผู้ประกอบการต้องพึ่งกำลังซื้อจากลูกค้าชาวต่างชาติซึ่งมีต้นทุนการตลาดที่สูงขึ้น แต่คงปฏิเสธไม่ได้ว่าตลาดบนยังเป็นตลาดที่มีความเสี่ยงน้อยท่ามกลางภาวะแวดล้อมทางธุรกิจที่ยังมีความเสี่ยง ทำให้ในปีนี้ผู้ประกอบการยังคงให้ความสนใจกับตลาดระดับบน</p>
              <p>9. สำหรับตลาดที่อยู่อาศัยระดับกลาง-ล่าง แม้จะได้รับอานิสงส์จากมาตรการกระตุ้นอสังหาริมทรัพย์ในส่วนของมาตรการภาษีสำหรับผู้ซื้อที่อยู่อาศัยหลังแรกไม่เกิน 3 ล้านบาท ซึ่งอาจจะช่วยกระตุ้นในส่วนของการลงทุนตลาดบ้านแนวราบ เช่น ทาวน์เฮ้าส์ในระดับราคาไม่เกิน 3 ล้านบาทและสามารถสร้างเสร็จภายใน 1 ปีก็ตาม แต่คาดว่าการลงทุนโครงการใหม่ๆ ในกลุ่มนี้น่าจะยังไม่คึกคัก เนื่องจากตลาดยังมีอุปทานรอขายในกลุ่มนี้สะสมในตลาดจำนวนหนึ่ง</p>
              <p><span>ที่มา : ศูนย์วิจัยกสิกรไทย</span></p>
            </div>
            <!-- END CONTENT-->
            <!-- WIDGET-->
            <div class="col-xs-12 col-sm-4 col-md-3 wrapper_widget">
              <div class="wrapper_related">
                <h4>ข่าว-บทความใกล้เคียง</h4>
                <ul class="list-unstyled">
                  <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
                  <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
                  <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
                  <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
                  <li><a href="news-detail.html" title="">อยากลงทุนในโครงการอสังหาริมทรัพย์ จะต้องทำยังไงกัน?</a></li>
                </ul>
              </div>
              <!-- END RELATED-->
              <div class="clearfix"></div>
              <div class="wrapper_highlight">
                <h4>โครงการแนะนำ</h4>
                <div class="news">
                  <div class="row">
                    <div class="col-xs-12 wrapper">
                      <p><a href="news-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
                      <h4><a href="news-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                      <p><span>- 10 มกราคม 2560</span></p>
                      <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ<a href="#" title="" class="readmore">&nbsp; รายละเอียด...</a></p>
                    </div>
                  </div>
                </div>
                <div class="news">
                  <div class="row">
                    <div class="col-xs-12 wrapper">
                      <p><a href="news-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
                      <h4><a href="news-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
                      <p><span>- 10 มกราคม 2560</span></p>
                      <p class="highlight-text">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ<a href="#" title="" class="readmore">&nbsp; รายละเอียด...</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END WIDGET-->
          </section>
        </div>
      </div>
    </div>
    <!--END WRAPPER-->
    <div class="clearfix"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <!-- LEFT-->
              <div class="col-md-9">
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>เช่า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขายดาวน์</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>จำนอง</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>อบรมนายหน้า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">คอร์สอบรม</a></li>
                        <li><a href="#" title="">วิธีการสมัคร</a></li>
                        <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                        <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                        <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>สถาบันการเงิน</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                        <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                        <li><a href="#" title="">ธนาคาออมสิน</a></li>
                        <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                        <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ทีมนักขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">สำนักงานใหญ่</a></li>
                        <li><a href="#" title="">ภาคกลาง</a></li>
                        <li><a href="#" title="">ภาคเหนือ</a></li>
                        <li><a href="#" title="">ภาคตะวันตก</a></li>
                        <li><a href="#" title="">ภาคตะวันออก</a></li>
                        <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                        <li><a href="#" title="">ภาคใต้</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>การตลาด</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">หลักการตลาด</a></li>
                        <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
              </div>
              <!-- RIGHT-->
              <div class="col-md-3">
                <div class="inner clearfix">
                  <div class="wrapper_enewsletter">
                    <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                    <form class="form-inline">
                      <div class="input-group">
                        <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"><span class="input-group-btn">
                          <button type="button" class="btn btn-main">ตกลง</button></span>
                        <!-- /input-group-->
                      </div>
                    </form>
                  </div>
                  <div class="wrapper_contactus">
                    <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                    <div class="contact-info">
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                        <div class="media-body">sales@yourcompany.com</div>
                      </div>
                    </div>
                  </div>
                  <ul class="social list-inline">
                    <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../template/assets/js/jquery.min.js"></script>
    <script src="../../template/assets/js/bootstrap.min.js"></script>
    <script src="../../template/assets/js/megamenu.js"></script>
    <script src="../../template/assets/js/search.js"></script>
    <script src="../../template/assets/js/slippry.min.js"></script>
    <script src="../../template/assets/js/slick.min.js"></script>
    <script src="../../template/assets/js/validator.min.js"></script>
    <script src="../../template/assets/js/application.js"></script>
  </body>
</html>

app/jade/news-detail.jade
extends template-cms-inside.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='news.html') ข่าวสาร
					a.btn.btn-default(href='#') เทรนด์ลงทุนอสังหาริมทรัพย์ 2559
	// END BREADCRUMBS

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| เทรนด์ลงทุนอสังหาริมทรัพย์ 2559
				section.row
					// CONTENT
					.col-xs-12.col-sm-8.col-md-9
						p
							img.img-responsive(src='../template/assets/images/news.jpg')
						p
							| 1. การลงทุนในอสังหาริมทรัพย์ อาจจะยังไม่คึกคัก
							| โดยมองว่าผู้ประกอบการพัฒนาอสังหาริมทรัพย์ยังคงต้องให้น้ำหนักในการทำตลาดระบายที่อยู่อาศัยสร้างเสร็จรอขายในตลาด
							| โดยแม้ว่าตลาดจะได้รับปัจจัยหนุนจากมาตรการกระตุ้นอสังหาริมทรัพย์เข้ามาช่วยเป็นเครื่องมือในการระบายที่อยู่อาศัยเหลือขายก็ตาม

						p
							| 2.   การลงทุนในอสังหาริมทรัพย์ที่อยู่อาศัยในต่างจังหวัดน่าจะยังชะลอตัวอยู่ในช่วง 1-2 ปีนี้ เนื่องจากเศรษฐกิจท้องถิ่นยังได้รับผลกระทบจากกิจกรรมเศรษฐกิจในภาคเกษตรกรรม

						p
							| 3. ขณะที่การลงทุนโครงการอสังหาริมทรัพย์ในเขตกรุงเทพฯและปริมณฑลนั้น แม้ว่าผู้ประกอบการจะยังให้น้ำหนักการลงทุนโครงการใหม่ในเขตกรุงเทพฯและปริมณฑลก็ตาม แต่คาดว่าการลงทุนน่าจะเต็มไปด้วยความท้าทายมากขึ้น

						p
							| 4. นอกเหนือจากเรื่องเศรษฐกิจและกำลังซื้อแล้ว ต้องยอมรับว่าตลาดอสังหาริมทรัพย์ที่อยู่อาศัยในเขตกรุงเทพฯและปริมณฑลมีการแข่งขันรุนแรง โดยการแข่งขันไม่เพียงจากผู้ประกอบการที่อยู่ในธุรกิจอสังหาริมทรัพย์มานานแล้ว แต่ในช่วงที่ผ่านมา ผู้ประกอบการธุรกิจอื่นๆ ก็ขยายฐานธุรกิจเข้ามาในธุรกิจอสังหาริมทรัพย์มากขึ้น ซึ่งผู้ประกอบการเหล่านี้มีความแข็งแกร่งทั้งด้านแหล่งเงินทุนและที่สำคัญเป็นเจ้าของที่ดินในทำเลศักยภาพ

						p
							| 5. ทิศทางตลาดที่อยู่อาศัยในกรุงเทพฯและปริมณฑลในปี 2559 นั้น ศูนย์วิจัยกสิกรไทย มองว่า ผู้ประกอบการยังให้น้ำหนักในกลุ่มโครงการคอนโดมิเนียม เนื่องจากปัจจัยในเรื่องของที่ดิน กฎหมายผังเมือง และโครงสร้างพื้นฐานด้านรถไฟฟ้า

						p
							| 6. ส่วนของกลุ่มลูกค้าเป้าหมายนั้น มองว่า ผู้ประกอบการยังคงให้ความสำคัญกับการทำตลาดที่อยู่อาศัยระดับบน แม้จะมีความท้าทายขึ้นจากการแข่งขันที่สูง เนื่องจากในปี 2558 ที่ผ่านมา ผู้ประกอบการให้ความสำคัญในการเปิดตัวโครงการระดับบนออกสู่ตลาดพร้อมกันหลายโครงการ

						p
							| 7. ปี 2558 ที่ผ่านมา การเปิดโครงการที่อยู่อาศัยในเขตกรุงเทพฯและปริมณฑลระดับราคา 10 ล้านบาทขึ้นไป เพิ่มขึ้นประมาณร้อยละ 85.0 เมื่อเทียบกับการเปิดตัวในปี 2557

						p
							| 8. การทำตลาดคงไม่ง่ายเหมือนปีที่ผ่านมา จากกลไกตลาดที่ได้ผลักดันทำให้ราคาต่อหน่วยขยับตัวสูงขึ้นอย่างรวดเร็ว ขณะที่กลุ่มลูกค้าระดับบนในประเทศมีฐานตลาดที่จำกัด ผู้ประกอบการต้องพึ่งกำลังซื้อจากลูกค้าชาวต่างชาติซึ่งมีต้นทุนการตลาดที่สูงขึ้น แต่คงปฏิเสธไม่ได้ว่าตลาดบนยังเป็นตลาดที่มีความเสี่ยงน้อยท่ามกลางภาวะแวดล้อมทางธุรกิจที่ยังมีความเสี่ยง ทำให้ในปีนี้ผู้ประกอบการยังคงให้ความสนใจกับตลาดระดับบน

						p
							| 9. สำหรับตลาดที่อยู่อาศัยระดับกลาง-ล่าง แม้จะได้รับอานิสงส์จากมาตรการกระตุ้นอสังหาริมทรัพย์ในส่วนของมาตรการภาษีสำหรับผู้ซื้อที่อยู่อาศัยหลังแรกไม่เกิน 3 ล้านบาท ซึ่งอาจจะช่วยกระตุ้นในส่วนของการลงทุนตลาดบ้านแนวราบ เช่น ทาวน์เฮ้าส์ในระดับราคาไม่เกิน 3 ล้านบาทและสามารถสร้างเสร็จภายใน 1 ปีก็ตาม แต่คาดว่าการลงทุนโครงการใหม่ๆ ในกลุ่มนี้น่าจะยังไม่คึกคัก เนื่องจากตลาดยังมีอุปทานรอขายในกลุ่มนี้สะสมในตลาดจำนวนหนึ่ง

						p
							span ที่มา : ศูนย์วิจัยกสิกรไทย
					// END CONTENT

					// WIDGET
					include partials/widget.jade
					// END WIDGET
	//END WRAPPER
