app/jade/profile.jade
extends template-member.jade
block content
  .container.wrapper_login
    .row
      .container-fluid
        h2
          | ข้อมูลส่วนตัว : &nbsp;
          i.fa.fa-user-circle-o &nbsp;
          | WITTAWAT KITTIWARABUD
        .wrapper_inner
          .row
            // SIDEBAR
            include partials/sidebar.jade
            // END SIDEBAR

            // CONTENT
            .col-xs-12.col-sm-8.col-md-9
              form.form-horizontal(name="form_profile", action="", method="post", encrytion="", autocomplete="false")
                .form-group
                  label.col-md-4.control-label(for="username") อีเมล์
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="email", type="email", id="email", placeholder="AOLPROPERTY@AOLPROPERTY.COM", required)
                .form-group
                  label.col-md-4.control-label(for="username") รหัสผ่าน
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="password", type="password", id="password", placeholder="********", required)
                .form-group
                  label.col-md-4.control-label(for="username") ยืนยันรหัสผ่าน
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="cf_password", type="password", id="cf_password", placeholder="********", required)
                hr
                // END USERNAME
                .form-group
                  label.col-md-4.control-label(for="username") ชื่อ นามสกุล
                    span.text-warning *  :
                  .col-md-4
                    input.form-control(name="fullname", type="text", id="fullname", placeholder="ชื่อ-นามสกุล", required)
                .form-group
                  label.col-md-4.control-label(for="username") ที่อยู่ :
                  .col-md-4
                    input.form-control(name="address", type="text", id="address")
                .form-group
                  label.col-md-4.control-label(for="username") จังหวัด
                    span.text-warning *  :
                  .col-md-4
                    select.form-control(name="provinces_id", id="provinces_id", required)
                      option(value="") จังหวัด
                .form-group
                  label.col-md-4.control-label(for="username") อำเภอ/เขต :
                  .col-md-4
                    select.form-control(name="distinct_id", id="distinct_id")
                      option(value="") อำเภอ/เขต
                .form-group
                  label.col-md-4.control-label(for="username") ตำบล/แขวง :
                  .col-md-4
                    select.form-control(name="sub_distinct_id", id="sub_distinct_id")
                      option(value="") ตำบล/แขวง
                .form-group
                  label.col-md-4.control-label(for="username") รหัสไปรษณีย์ :
                  .col-md-4
                    input.form-control(name="zipcodes", type="text", id="zipcodes", maxlength="5")
                hr
                // END USERNAME
                .form-group
                  .col-md-offset-4.col-md-4
                    input(type="hidden", name="action", value="action_profile")
                    button.btn.btn-lg.btn-main(type="button") แก้ไขข้อมูลส่วนตัว


            // END CONTENT

template/html/profile.html
<!DOCTYPE html>
<html lang="en" dir="ltr"><!DOCTYPE html>
  <html lang="th">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AOL PROPERTY</title>
      <link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../template/assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../template/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../template/assets/css/styles.css">
    </head>
  </html>
  <body>
    <header>
      <div class="container">
        <nav role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="property.html">ขาย</a></li>
              <li><a href="property.html">เช่า</a></li>
              <li><a href="property.html">ขายดาวน์</a></li>
              <li><a href="project.html">โครงการใหม่</a></li>
              <li><a href="news.html">ข่าว</a></li>
              <li><a href="board.html">บอร์ดประกาศ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">เข้าสู่ระบบ</a></li>
              <li><a href="register.html">สมัครสมาชิก</a></li>
              <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
              <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">EN</a></li>
                  <li><a href="#">TH</a></li>
                </ul>
              </li>
            </ul>
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
                  <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="well well_header"></div>
    <div class="container wrapper_login">
      <div class="row">
        <div class="container-fluid">
          <h2>ข้อมูลส่วนตัว : &nbsp;<i class="fa fa-user-circle-o">&nbsp;</i>WITTAWAT KITTIWARABUD</h2>
          <div class="wrapper_inner">
            <div class="row">
              <!-- SIDEBAR-->
              <div class="col-xs-12 col-sm-4 col-md-3">
                <div id="accordion" class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-address-card-o"></i>&nbsp;โปรไฟล์</a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="profile.html"><i class="fa fa-vcard-o"></i>&nbsp;ข้อมูลสมาชิก</a></td>
                          </tr>
                          <tr>
                            <td><a href="forgotpassword.html"><i class="fa fa-key"></i>&nbsp;แก้ไขรหัสผ่าน</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-building-o"></i>&nbsp;รายการทรัพย์</a></h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-land.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศทรัพย์</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-hotel"></i>&nbsp;รายการคอนโดมิเนี่ยม</a></h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-condominium.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศคอนโดมิเนี่ยม</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-heart-o"></i>&nbsp;รายการที่สนใจ</a></h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-land.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศทรัพย์</a></td>
                          </tr>
                          <tr>
                            <td><a href="list-condominium.html"><i class="fa fa-circle-o"></i>&nbsp;ประกาศคอนโดมิเนี่ยม</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-graduation-cap"></i>&nbsp;อีเมล์ถามกูรู</a></h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                      <div class="panel-body">
                        <table class="table">
                          <tr>
                            <td><a href="list-guru.html"><i class="fa fa-circle-o"></i>&nbsp;ประวัติการตั้งคำถาม</a></td>
                          </tr>
                          <tr>
                            <td><a href="list-guru.html"><i class="fa fa-circle-o"></i>&nbsp;ประวัติที่เก็บไว้</a></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END SIDEBAR-->
              <!-- CONTENT-->
              <div class="col-xs-12 col-sm-8 col-md-9">
                <form name="form_profile" action="" method="post" encrytion="" autocomplete="false" class="form-horizontal">
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">อีเมล์<span class="text-warning">*  :</span></label>
                    <div class="col-md-4">
                      <input name="email" type="email" id="email" placeholder="AOLPROPERTY@AOLPROPERTY.COM" required class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">รหัสผ่าน<span class="text-warning">*  :</span></label>
                    <div class="col-md-4">
                      <input name="password" type="password" id="password" placeholder="********" required class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">ยืนยันรหัสผ่าน<span class="text-warning">*  :</span></label>
                    <div class="col-md-4">
                      <input name="cf_password" type="password" id="cf_password" placeholder="********" required class="form-control">
                    </div>
                  </div>
                  <hr>
                  <!-- END USERNAME-->
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">ชื่อ นามสกุล<span class="text-warning">*  :</span></label>
                    <div class="col-md-4">
                      <input name="fullname" type="text" id="fullname" placeholder="ชื่อ-นามสกุล" required class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">ที่อยู่ :</label>
                    <div class="col-md-4">
                      <input name="address" type="text" id="address" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">จังหวัด<span class="text-warning">*  :</span></label>
                    <div class="col-md-4">
                      <select name="provinces_id" id="provinces_id" required class="form-control">
                        <option value="">จังหวัด</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">อำเภอ/เขต :</label>
                    <div class="col-md-4">
                      <select name="distinct_id" id="distinct_id" class="form-control">
                        <option value="">อำเภอ/เขต</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">ตำบล/แขวง :</label>
                    <div class="col-md-4">
                      <select name="sub_distinct_id" id="sub_distinct_id" class="form-control">
                        <option value="">ตำบล/แขวง</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-md-4 control-label">รหัสไปรษณีย์ :</label>
                    <div class="col-md-4">
                      <input name="zipcodes" type="text" id="zipcodes" maxlength="5" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <!-- END USERNAME-->
                  <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                      <input type="hidden" name="action" value="action_profile">
                      <button type="button" class="btn btn-lg btn-main">แก้ไขข้อมูลส่วนตัว</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- END CONTENT-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <!-- LEFT-->
              <div class="col-md-9">
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>เช่า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขายดาวน์</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>จำนอง</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>อบรมนายหน้า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">คอร์สอบรม</a></li>
                        <li><a href="#" title="">วิธีการสมัคร</a></li>
                        <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                        <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                        <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>สถาบันการเงิน</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                        <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                        <li><a href="#" title="">ธนาคาออมสิน</a></li>
                        <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                        <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ทีมนักขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">สำนักงานใหญ่</a></li>
                        <li><a href="#" title="">ภาคกลาง</a></li>
                        <li><a href="#" title="">ภาคเหนือ</a></li>
                        <li><a href="#" title="">ภาคตะวันตก</a></li>
                        <li><a href="#" title="">ภาคตะวันออก</a></li>
                        <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                        <li><a href="#" title="">ภาคใต้</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>การตลาด</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">หลักการตลาด</a></li>
                        <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
              </div>
              <!-- RIGHT-->
              <div class="col-md-3">
                <div class="inner clearfix">
                  <div class="wrapper_enewsletter">
                    <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                    <form class="form-inline">
                      <div class="input-group">
                        <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"><span class="input-group-btn">
                          <button type="button" class="btn btn-main">ตกลง</button></span>
                        <!-- /input-group-->
                      </div>
                    </form>
                  </div>
                  <div class="wrapper_contactus">
                    <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                    <div class="contact-info">
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                        <div class="media-body">sales@yourcompany.com</div>
                      </div>
                    </div>
                  </div>
                  <ul class="social list-inline">
                    <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../template/assets/js/jquery.min.js"></script>
    <script src="../../template/assets/js/bootstrap.min.js"></script>
    <script src="../../template/assets/js/megamenu.js"></script>
    <script src="../../template/assets/js/search.js"></script>
    <script src="../../template/assets/js/slippry.min.js"></script>
    <script src="../../template/assets/js/slick.min.js"></script>
    <script src="../../template/assets/js/validator.min.js"></script>
    <script src="../../template/assets/js/application.js"></script>
  </body>
</html>
