app/jade/project.jade
extends template-cms.jade
block content
	.container.wrapper_breadcrumbs
		.row
			.container-fluid
				.btn-group.btn-breadcrumb
					a.btn.btn-default(href='index.html')
						i.glyphicon.glyphicon-home
					a.btn.btn-default(href='#') โครงการ

	.clearfix
	.container.wrapper_content
		.row
			.container-fluid
				h2
					| โครงการใหม่แนะนำ
				.row
					.col-md-6
						.wrapper_youtube
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/500x300/000000/ffffff?text=400X200", alt="")
					.col-md-6
						h3
							a(href="project-detail.html", title="") ซีเซ็นคอนโด บางเสร่
						p
							span
								| - 10 มกราคม 2560
						p.inner
							| SEA ZEN (ซี เซน) เป็นคอนโดมิเนียม ตั้งอยู่บน ซอย เทพประสิทธิ์ 9 เมืองพัทยา อำเภอ บางละมุง ชลบุรี 20150 ซี เซน ปัจจุบันยังอยู่ในระหว่างการก่อสร้างซึ่งคาดว่าจะแล้วเสร็จในปี 2017 คอนโดนี้ มี 2 อาคาร จำนวน 7 ชั้น และ รวมทั้งหมด 156 ยูนิต
						.items-carousel
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)
							.wrapper
								a(href="project-detail.html", title="")
									img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
								h5
									a(href="project-detail.html", title="")
										| Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)

	// END content

	.clearfix
	.container.wrapper_highlight
		.row
			.container-fluid
				.row
					.col-md-12
						.pull-left
							h2 โครงการ
						.pull-right
							form.form-inline(name="from_filter", method="post", action="")
								.form-group
									select.form-control(name="", id="")
										option(value="") ประเภทการขาย
										option(value="") ขาย
										option(value="") เช่า
										option(value="") ขายเช่า
								.form-group
									select.form-control(name="", id="")
										option(value="") ประเภทอสังหา
										option(value="") คอนโด
										option(value="") ทาวน์โฮม
										option(value="") ที่ดิน
								.form-group
									select.form-control(name="", id="")
										option(value="") จัดเรียงตาม
										option(value="") ราคามากสุด-ต่ำสุด
										option(value="") ราคาต่ำสุด-มากสุด
										option(value="") ยอดนิยม
										option(value="") มาใหม่
								.form-group
									input(type="hidden", name="action")
									button.btn.btn-main(type='submit',name='search') ค้นหา

				section.row
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
					.col-xs-12.col-sm-6.col-md-3.wrapper
						p
							a(href="project-detail.html", title="")
								img.img-responsive(src="http://placehold.it/400x200/000000/ffffff?text=400X200")
						h4
							a(href="project-detail.html", title="")
								| ธนาฮาธิเบต ราชพฤกษ์-สิรินธร
						p.expert
							a(href="project-detail.html", title="")
								| รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;
						p.price
							| 1,900,000 บาท
					// END COL
	//END CONTENT

template/html/project.html
<!DOCTYPE html>
<html lang="en" dir="ltr"><!DOCTYPE html>
  <html lang="th">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AOL PROPERTY</title>
      <link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../template/assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../template/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../template/assets/css/styles.css">
    </head>
  </html>
  <body>
    <header>
      <div class="container">
        <nav role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="property.html">ขาย</a></li>
              <li><a href="property.html">เช่า</a></li>
              <li><a href="property.html">ขายดาวน์</a></li>
              <li><a href="project.html">โครงการใหม่</a></li>
              <li><a href="news.html">ข่าว</a></li>
              <li><a href="board.html">บอร์ดประกาศ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">เข้าสู่ระบบ</a></li>
              <li><a href="register.html">สมัครสมาชิก</a></li>
              <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
              <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">EN</a></li>
                  <li><a href="#">TH</a></li>
                </ul>
              </li>
            </ul>
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
                  <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="well well_header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form method="post" action="" class="form wrapper_search">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input id="keyword" type="text" name="" placeholder="ค้นหาจากทำเล หรือคำที่เกี่ยวข้อง.." class="form-control">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทการขาย</option>
                      <option value="">ขาย</option>
                      <option value="">เช่า</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทอสังหาริมทรัพย์</option>
                      <option value="">คอนโดมิเนี่ยม</option>
                      <option value="">ที่ดิน</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ราคาเริ่มต้น</option>
                      <option value="499999">ต่ำกว่า 500,000</option>
                      <option value="500000">500,000</option>
                      <option value="1000000">1,000,000</option>
                      <option value="1500000">1,500,000</option>
                      <option value="2000000">2,000,000</option>
                      <option value="2500000">2,500,000</option>
                      <option value="3000000">3,000,000</option>
                      <option value="3500000">3,500,000</option>
                      <option value="4000000">4,000,000</option>
                      <option value="4500000">4,500,000</option>
                      <option value="5000000">5,000,000</option>
                      <option value="5500000">5,500,000</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ราคาสูงสุด</option>
                      <option value="6000000">6,000,000</option>
                      <option value="6500000">6,500,000</option>
                      <option value="7000000">7,000,000</option>
                      <option value="7500000">7,500,000</option>
                      <option value="8000000">8,000,000</option>
                      <option value="8500000">8,500,000</option>
                      <option value="9000000">9,000,000</option>
                      <option value="9500000">9,500,000</option>
                      <option value="10000000">10,000,000</option>
                      <option value="10000001">ตั้งแต่ 10,000,000 ขึ้นไป</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--END ROW-->
              <div class="clearfix"></div>
              <div class="row row-bottom">
                <div class="col-md-4">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">จังหวัด</option>
                      <option value="">กรุงเทพมหานคร</option>
                      <option value="">กระบี่</option>
                      <option value="">ขอนแก่น</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">อำเภอ</option>
                      <option value="">เขตพระนคร</option>
                      <option value="">เขตดุสิต</option>
                      <option value="">เขตหนองจอก</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทห้องนอน</option>
                      <option value="">ห้อง Studio</option>
                      <option value="">1 ห้องนอน</option>
                      <option value="">2 ห้องนอน</option>
                      <option value="">3 ห้องนอน</option>
                      <option value="">ห้อง Penthouse</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ขนาดห้องนอน</option>
                      <option value="1">ต่ำกว่า 25 ตร.ม.</option>
                      <option value="2">26 - 50 ตร.ม.</option>
                      <option value="3">51 - 75 ตร.ม.</option>
                      <option value="4">76 - 100 ตร.ม.</option>
                      <option value="5">101 - 125 คร.ม.</option>
                      <option value="6">126 - 150 ตร.ม.</option>
                      <option value="7">151 - 175 ตร.ม.</option>
                      <option value="8">176 - 200 ตร.ม.</option>
                      <option value="9">201 ตร.ม.ขึ้นไป</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="hidden" name="action">
                    <button type="submit" name="search" class="btn btn-main btn-block">ค้นหา</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container wrapper_breadcrumbs">
      <div class="row">
        <div class="container-fluid">
          <div class="btn-group btn-breadcrumb"><a href="index.html" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a><a href="#" class="btn btn-default">โครงการ</a></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container wrapper_content">
      <div class="row">
        <div class="container-fluid">
          <h2>โครงการใหม่แนะนำ</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="wrapper_youtube"><a href="project-detail.html" title=""><img src="http://placehold.it/500x300/000000/ffffff?text=400X200" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-md-6">
              <h3><a href="project-detail.html" title="">ซีเซ็นคอนโด บางเสร่</a></h3>
              <p><span>- 10 มกราคม 2560</span></p>
              <p class="inner">SEA ZEN (ซี เซน) เป็นคอนโดมิเนียม ตั้งอยู่บน ซอย เทพประสิทธิ์ 9 เมืองพัทยา อำเภอ บางละมุง ชลบุรี 20150 ซี เซน ปัจจุบันยังอยู่ในระหว่างการก่อสร้างซึ่งคาดว่าจะแล้วเสร็จในปี 2017 คอนโดนี้ มี 2 อาคาร จำนวน 7 ชั้น และ รวมทั้งหมด 156 ยูนิต</p>
              <div class="items-carousel">
                <div class="wrapper"><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                  <h5><a href="project-detail.html" title="">Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)</a></h5>
                </div>
                <div class="wrapper"><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                  <h5><a href="project-detail.html" title="">Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)</a></h5>
                </div>
                <div class="wrapper"><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                  <h5><a href="project-detail.html" title="">Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)</a></h5>
                </div>
                <div class="wrapper"><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                  <h5><a href="project-detail.html" title="">Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)</a></h5>
                </div>
                <div class="wrapper"><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a>
                  <h5><a href="project-detail.html" title="">Casa Legend ศรีราชา (คาซ่า เลเจ้นด์ ศรีราชา)</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END content-->
    <div class="clearfix"></div>
    <div class="container wrapper_highlight">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <h2>โครงการ</h2>
              </div>
              <div class="pull-right">
                <form name="from_filter" method="post" action="" class="form-inline">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทการขาย</option>
                      <option value="">ขาย</option>
                      <option value="">เช่า</option>
                      <option value="">ขายเช่า</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทอสังหา</option>
                      <option value="">คอนโด</option>
                      <option value="">ทาวน์โฮม</option>
                      <option value="">ที่ดิน</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">จัดเรียงตาม</option>
                      <option value="">ราคามากสุด-ต่ำสุด</option>
                      <option value="">ราคาต่ำสุด-มากสุด</option>
                      <option value="">ยอดนิยม</option>
                      <option value="">มาใหม่</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="hidden" name="action">
                    <button type="submit" name="search" class="btn btn-main">ค้นหา</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <section class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
            <div class="col-xs-12 col-sm-6 col-md-3 wrapper">
              <p><a href="project-detail.html" title=""><img src="http://placehold.it/400x200/000000/ffffff?text=400X200" class="img-responsive"></a></p>
              <h4><a href="project-detail.html" title="">ธนาฮาธิเบต ราชพฤกษ์-สิรินธร</a></h4>
              <p class="expert"><a href="project-detail.html" title="">รีบทำการบ้านก่อนโครงการจะเปิดขายอย่างเป็นทางการครับ โครงการ IDEO สาทร-ท่าพระ ของอนันดา บนถนนราชพฤกษ์ ใกล้ BTS สถานี โพธินิมิตร (S9) เป็นโครงการใหม่ล่าสุด &nbsp;</a></p>
              <p class="price">1,900,000 บาท</p>
            </div>
            <!-- END COL-->
          </section>
        </div>
      </div>
    </div>
    <!--END CONTENT-->
    <div class="clearfix"></div>
    <div class="container wrapper_pagination">
      <div class="row">
        <div class="container-fluid">
          <section class="row">
            <div class="col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li><a href="#" aria-label="Previous"><i aria-hidden="true" class="fa fa-angle-left"></i></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#" aria-label="Next"><i aria-hidden="true" class="fa fa-angle-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!--END CONTENT-->
    <div class="clearfix"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <!-- LEFT-->
              <div class="col-md-9">
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>เช่า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขายดาวน์</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>จำนอง</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>อบรมนายหน้า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">คอร์สอบรม</a></li>
                        <li><a href="#" title="">วิธีการสมัคร</a></li>
                        <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                        <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                        <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>สถาบันการเงิน</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                        <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                        <li><a href="#" title="">ธนาคาออมสิน</a></li>
                        <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                        <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ทีมนักขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">สำนักงานใหญ่</a></li>
                        <li><a href="#" title="">ภาคกลาง</a></li>
                        <li><a href="#" title="">ภาคเหนือ</a></li>
                        <li><a href="#" title="">ภาคตะวันตก</a></li>
                        <li><a href="#" title="">ภาคตะวันออก</a></li>
                        <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                        <li><a href="#" title="">ภาคใต้</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>การตลาด</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">หลักการตลาด</a></li>
                        <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
              </div>
              <!-- RIGHT-->
              <div class="col-md-3">
                <div class="inner clearfix">
                  <div class="wrapper_enewsletter">
                    <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                    <form class="form-inline">
                      <div class="input-group">
                        <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"><span class="input-group-btn">
                          <button type="button" class="btn btn-main">ตกลง</button></span>
                        <!-- /input-group-->
                      </div>
                    </form>
                  </div>
                  <div class="wrapper_contactus">
                    <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                    <div class="contact-info">
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                        <div class="media-body">sales@yourcompany.com</div>
                      </div>
                    </div>
                  </div>
                  <ul class="social list-inline">
                    <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../template/assets/js/jquery.min.js"></script>
    <script src="../../template/assets/js/bootstrap.min.js"></script>
    <script src="../../template/assets/js/megamenu.js"></script>
    <script src="../../template/assets/js/search.js"></script>
    <script src="../../template/assets/js/slippry.min.js"></script>
    <script src="../../template/assets/js/slick.min.js"></script>
    <script src="../../template/assets/js/validator.min.js"></script>
    <script src="../../template/assets/js/application.js"></script>
  </body>
</html>
