template/html/wishlist.html
<!DOCTYPE html>
<html lang="en" dir="ltr"><!DOCTYPE html>
  <html lang="th">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>AOL PROPERTY</title>
      <link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../template/assets/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../template/assets/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../template/assets/css/styles.css">
    </head>
  </html>
  <body>
    <header>
      <div class="container">
        <nav role="navigation" class="navbar">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand"><img src="../../template/assets/images/AOL-PRPPERTY-logo.png" alt="" class="img-responsive"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="property.html">ขาย</a></li>
              <li><a href="property.html">เช่า</a></li>
              <li><a href="property.html">ขายดาวน์</a></li>
              <li><a href="project.html">โครงการใหม่</a></li>
              <li><a href="news.html">ข่าว</a></li>
              <li><a href="board.html">บอร์ดประกาศ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">เข้าสู่ระบบ</a></li>
              <li><a href="register.html">สมัครสมาชิก</a></li>
              <li><a href="wishlist.html">0&nbsp;<i class="fa fa-heart"></i></a></li>
              <li class="dropdown"><a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">EN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">EN</a></li>
                  <li><a href="#">TH</a></li>
                </ul>
              </li>
            </ul>
            <form role="search" class="navbar-form">
              <div class="input-group">
                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                  <button type="reset" class="btn btn-link"><span class="glyphicon glyphicon-remove"><span class="sr-only">Close</span></span></button>
                  <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-search"><span class="sr-only">Search</span></span></button></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <div class="well well_header"></div>
    <div class="container wrapper_wishlist">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <h2>รายการโปรด<span>ของท่าน</span></h2>
              </div>
              <div class="pull-right">
                <form name="from_filter" method="post" action="" class="form-inline">
                  <div class="form-group">
                    <p>คุณมี 3 รายการโปรด</p>
                  </div>
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value="">ประเภทอสังหาริมทรัพย์</option>
                      <option value="">คอนโดมิเนี่ยม</option>
                      <option value="">ทาวน์โฮม</option>
                      <option value="">อาคารพาณิชย์</option>
                      <option value="">ที่ดิน</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="hidden" name="action">
                    <button type="submit" name="search" class="btn btn-main">ค้นหา</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="wrapper_inner">
            <div class="post-list">
              <div class="row">
                <div class="col-sm-12 col-md-3"><a href="#" title=""><img src="http://placehold.it/400x250/000000/ffffff?text=400x250" class="img-responsive"></a></div>
                <div class="col-sm-12 col-md-9">
                  <div class="row">
                    <!-- Left-->
                    <div class="col-sm-12 col-md-9">
                      <div class="post-title">
                        <h3><a href="#" title="">ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน</a></h3>
                      </div>
                      <div class="post-name">
                        <p><span>คอนโด - &nbsp;</span><strong>ขายขาด</strong></p>
                      </div>
                      <div class="post-address">
                        <p><span>Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ</span></p>
                        <p><span>88 ตารางเมตร  142,045 บาท / ตารางเมตร</span></p>
                      </div>
                    </div>
                    <!-- Right-->
                    <div class="col-sm-12 col-md-3">
                      <div class="post-price"><strong>1,291,000 บาท</strong></div>
                      <div class="post-mortgage"><span>จำนอง 6,970 บาท/เดือน</span></div>
                      <div class="post-room"><span>2 &nbsp;<i class="fa fa-bed">&nbsp;&nbsp;</i></span><span>2 &nbsp;<i class="fa fa-bath"></i></span></div>
                    </div>
                    <!-- Bottom-->
                    <div class="col-md-12 post-bottom">
                      <div class="row">
                        <div class="col-sm-6 col-md-7">
                          <div class="post-from"><span>ประกาศจาก :&nbsp;</span><strong>บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด</strong></div>
                        </div>
                        <div class="col-sm-6 col-md-5">
                          <div class="post-links"><a href="#" title="" class="btn btn-icon"><i class="fa fa-phone"></i></a><a href="#" title="" class="btn btn-icon"><i class="fa fa-comment"></i></a><a href="#" title="" class="btn btn-wishlist">ลบจากรายการโปรด</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END ROW-->
            <div class="post-list">
              <div class="row">
                <div class="col-sm-12 col-md-3"><a href="#" title=""><img src="http://placehold.it/400x250/000000/ffffff?text=400x250" class="img-responsive"></a></div>
                <div class="col-sm-12 col-md-9">
                  <div class="row">
                    <!-- Left-->
                    <div class="col-sm-12 col-md-9">
                      <div class="post-title">
                        <h3><a href="#" title="">ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน</a></h3>
                      </div>
                      <div class="post-name">
                        <p><span>คอนโด - &nbsp;</span><strong>ขายขาด</strong></p>
                      </div>
                      <div class="post-address">
                        <p><span>Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ</span></p>
                        <p><span>88 ตารางเมตร  142,045 บาท / ตารางเมตร</span></p>
                      </div>
                    </div>
                    <!-- Right-->
                    <div class="col-sm-12 col-md-3">
                      <div class="post-price"><strong>1,291,000 บาท</strong></div>
                      <div class="post-mortgage"><span>จำนอง 6,970 บาท/เดือน</span></div>
                      <div class="post-room"><span>2 &nbsp;<i class="fa fa-bed">&nbsp;&nbsp;</i></span><span>2 &nbsp;<i class="fa fa-bath"></i></span></div>
                    </div>
                    <!-- Bottom-->
                    <div class="col-md-12 post-bottom">
                      <div class="row">
                        <div class="col-sm-6 col-md-7">
                          <div class="post-from"><span>ประกาศจาก :&nbsp;</span><strong>บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด</strong></div>
                        </div>
                        <div class="col-sm-6 col-md-5">
                          <div class="post-links"><a href="#" title="" class="btn btn-icon"><i class="fa fa-phone"></i></a><a href="#" title="" class="btn btn-icon"><i class="fa fa-comment"></i></a><a href="#" title="" class="btn btn-wishlist">ลบจากรายการโปรด</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END ROW-->
            <div class="post-list">
              <div class="row">
                <div class="col-sm-12 col-md-3"><a href="#" title=""><img src="http://placehold.it/400x250/000000/ffffff?text=400x250" class="img-responsive"></a></div>
                <div class="col-sm-12 col-md-9">
                  <div class="row">
                    <!-- Left-->
                    <div class="col-sm-12 col-md-9">
                      <div class="post-title">
                        <h3><a href="#" title="">ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน</a></h3>
                      </div>
                      <div class="post-name">
                        <p><span>คอนโด - &nbsp;</span><strong>ขายขาด</strong></p>
                      </div>
                      <div class="post-address">
                        <p><span>Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ</span></p>
                        <p><span>88 ตารางเมตร  142,045 บาท / ตารางเมตร</span></p>
                      </div>
                    </div>
                    <!-- Right-->
                    <div class="col-sm-12 col-md-3">
                      <div class="post-price"><strong>1,291,000 บาท</strong></div>
                      <div class="post-mortgage"><span>จำนอง 6,970 บาท/เดือน</span></div>
                      <div class="post-room"><span>2 &nbsp;<i class="fa fa-bed">&nbsp;&nbsp;</i></span><span>2 &nbsp;<i class="fa fa-bath"></i></span></div>
                    </div>
                    <!-- Bottom-->
                    <div class="col-md-12 post-bottom">
                      <div class="row">
                        <div class="col-sm-6 col-md-7">
                          <div class="post-from"><span>ประกาศจาก :&nbsp;</span><strong>บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด</strong></div>
                        </div>
                        <div class="col-sm-6 col-md-5">
                          <div class="post-links"><a href="#" title="" class="btn btn-icon"><i class="fa fa-phone"></i></a><a href="#" title="" class="btn btn-icon"><i class="fa fa-comment"></i></a><a href="#" title="" class="btn btn-wishlist">ลบจากรายการโปรด</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--END ROW-->
          </div>
          <!-- END Wrapper-->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <!-- LEFT-->
              <div class="col-md-9">
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>เช่า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ขายดาวน์</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>จำนอง</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">บ้านเดี่ยว</a></li>
                        <li><a href="#" title="">ทาวน์เฮ้าส์</a></li>
                        <li><a href="#" title="">ทาวน์โฮม</a></li>
                        <li><a href="#" title="">บ้านแฝด</a></li>
                        <li><a href="#" title="">อาคารพาณิชย์</a></li>
                        <li><a href="#" title="">คอนโดมิเนี่ยม</a></li>
                        <li><a href="#" title="">อพาร์ทเม้นท์</a></li>
                        <li><a href="#" title="">ที่ดิน</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
                <div class="inner clearfix">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>อบรมนายหน้า</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">คอร์สอบรม</a></li>
                        <li><a href="#" title="">วิธีการสมัคร</a></li>
                        <li><a href="#" title="">วิธีการชำระเงิน</a></li>
                        <li><a href="#" title="">ประมวลภาพอบรม</a></li>
                        <li><a href="#" title="">ปฏิทินการอบรม</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>สถาบันการเงิน</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">ธนาคากสิกรไทย</a></li>
                        <li><a href="#" title="">ธนาคากรุงไทย</a></li>
                        <li><a href="#" title="">ธนาคาออมสิน</a></li>
                        <li><a href="#" title="">ธนาคาธนชาติ</a></li>
                        <li><a href="#" title="">ธนาคาไทยพาณิชย์</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>ทีมนักขาย</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">สำนักงานใหญ่</a></li>
                        <li><a href="#" title="">ภาคกลาง</a></li>
                        <li><a href="#" title="">ภาคเหนือ</a></li>
                        <li><a href="#" title="">ภาคตะวันตก</a></li>
                        <li><a href="#" title="">ภาคตะวันออก</a></li>
                        <li><a href="#" title="">ภาคตะวันออกเฉียงเหนือ</a></li>
                        <li><a href="#" title="">ภาคใต้</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                      <h5>การตลาด</h5>
                      <ul class="list-unstyled">
                        <li><a href="#" title="">หลักการตลาด</a></li>
                        <li><a href="#" title="">เอโอเอล เป้าหมาย</a></li>
                      </ul>
                    </div>
                    <!-- END COL-->
                  </div>
                  <!-- END ROW-->
                </div>
                <!-- END INNER-->
              </div>
              <!-- RIGHT-->
              <div class="col-md-3">
                <div class="inner clearfix">
                  <div class="wrapper_enewsletter">
                    <h5>รับข่าวสารและสิทธิพิเศษจากเรา</h5>
                    <form class="form-inline">
                      <div class="input-group">
                        <input type="text" placeholder="กรอกอีเมลของท่าน..." class="form-control"><span class="input-group-btn">
                          <button type="button" class="btn btn-main">ตกลง</button></span>
                        <!-- /input-group-->
                      </div>
                    </form>
                  </div>
                  <div class="wrapper_contactus">
                    <h5>ติดต่อ บริษัท AOL PROPERTY จำกัด</h5>
                    <div class="contact-info">
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="media-body">No 395, Welington Road, Newyork, USA</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-earphone"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-print"></span></div>
                        <div class="media-body">(123) 456 0789</div>
                      </div>
                      <div class="media">
                        <div class="media-left"><span class="glyphicon glyphicon-envelope"></span></div>
                        <div class="media-body">sales@yourcompany.com</div>
                      </div>
                    </div>
                  </div>
                  <ul class="social list-inline">
                    <li><a href="#" title="fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Tw"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="G+"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="In"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="p"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <p>สงวนลิขสิทธิ์ © 2017 AOL PROPERTY CO.,LTD.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../template/assets/js/jquery.min.js"></script>
    <script src="../../template/assets/js/bootstrap.min.js"></script>
    <script src="../../template/assets/js/megamenu.js"></script>
    <script src="../../template/assets/js/search.js"></script>
    <script src="../../template/assets/js/slippry.min.js"></script>
    <script src="../../template/assets/js/slick.min.js"></script>
    <script src="../../template/assets/js/validator.min.js"></script>
    <script src="../../template/assets/js/application.js"></script>
  </body>
</html>

app/jade/wishlist.jade
extends template-child.jade
block content
  .container.wrapper_wishlist
    .row
      .container-fluid
        .row
          .col-md-12
            .pull-left
              h2
                | รายการโปรด
                span ของท่าน
            .pull-right
              form.form-inline(name="from_filter", method="post", action="")
                .form-group
                  p
                    | คุณมี 3 รายการโปรด
                .form-group
                  select.form-control(name="", id="")
                    option(value="") ประเภทอสังหาริมทรัพย์
                    option(value="") คอนโดมิเนี่ยม
                    option(value="") ทาวน์โฮม
                    option(value="") อาคารพาณิชย์
                    option(value="") ที่ดิน
                .form-group
                  input(type="hidden", name="action")
                  button.btn.btn-main(type='submit',name='search') ค้นหา

        .wrapper_inner
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="#", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="#", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-wishlist(href="#", title="")
                            | ลบจากรายการโปรด
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="#", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="#", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-wishlist(href="#", title="")
                            | ลบจากรายการโปรด
          //END ROW
          .post-list
            .row
              .col-sm-12.col-md-3
                a(href="#", title="")
                  img.img-responsive(src="http://placehold.it/400x250/000000/ffffff?text=400x250")
              .col-sm-12.col-md-9
                .row
                  // Left
                  .col-sm-12.col-md-9
                    .post-title
                      h3
                        a(href="#", title="") ขายคอนโด Hudson ซอย 7 ขนาด 2 ห้องนอน
                    .post-name
                      p
                        span คอนโด - &nbsp;
                        strong ขายขาด
                    .post-address
                      p
                        span Soi Sathon 7, Lane 3, ทุ่งมหาเมฆ, สาทร, กรุงเทพ
                      p
                        span 88 ตารางเมตร  142,045 บาท / ตารางเมตร
                  // Right
                  .col-sm-12.col-md-3
                    .post-price
                      strong 1,291,000 บาท
                    .post-mortgage
                      span จำนอง 6,970 บาท/เดือน
                    .post-room
                      span 2 &nbsp;
                        i.fa.fa-bed &nbsp;&nbsp;
                      span 2 &nbsp;
                        i.fa.fa-bath
                  // Bottom
                  .col-md-12.post-bottom
                    .row
                      .col-sm-6.col-md-7
                        .post-from
                          span ประกาศจาก :&nbsp;
                          strong บริษัทเอโอเอล พร๊อพเพอร์ตี้ จำกัด
                      .col-sm-6.col-md-5
                        .post-links
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-phone
                          a.btn.btn-icon(href="#", title="")
                            i.fa.fa-comment
                          a.btn.btn-wishlist(href="#", title="")
                            | ลบจากรายการโปรด
          //END ROW
        // END Wrapper
      
